@font-face {
 font-family: 'Quando';
 font-style: normal;
 font-weight: 300;
 src: local('Quando-Regular'), url(../font/qVv1zuxOTRil_FcBMa30Kg.woff) format('woff');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

a, a:link {
	color: #15C;
	text-decoration: none;
}

a:hover, a:active {
	color: #333333;
	outline-style: none;
	outline-width: medium;
}

ol, ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

p {
	line-height: 20px;
	padding: 0 0 10px 0;
}

body {
	background-image: -moz-linear-gradient(top, rgba(196, 216, 245, 0.23), rgba(125, 154, 179, 0.22));
	background-image: -o-linear-gradient(top, rgba(196, 216, 245, 0.23), rgba(125, 154, 179, 0.22));
	background-image: -webkit-linear-gradient(top, rgba(196, 216, 245, 0.23), rgba(125, 154, 179, 0.22));
	background-image: linear-gradient(top, rgba(196, 216, 245, 0.23), rgba(125, 154, 179, 0.22));
	font-family: 'Quando', sans-serif;
	font-size: 12px;
	color: #000000;
	overflow-x: hidden;
	height: 100%;
}

.message {
	padding: 6px 25px;
	margin: 10px 0;
	position: relative;
	display: block;
	text-indent:15px;
}

.invalid {
	background: #fbcfcf url(../images/exclam.png) 5px 8px no-repeat;
	color: #C32727;
	border: 1px solid #E18484;
}

.success {
	background: #E5F993 url(../images/accept.png) 5px 8px no-repeat;
	color: #688006;
	border: 1px solid #9BAC55;
}

.warning {
	background: #FFFCD3 url(../images/error.png) 5px 8px no-repeat;
	color: #74655F;
	border: 1px solid #C2BEB1;
}

.info {
	background: #D4EBFA url(../images/info.png) 5px 8px no-repeat;
	color: #4B6BAB;
	border: 1px solid #90B1C7;
}

.note {
	background: #FBF0DB url(../images/note.png) 5px 8px no-repeat;
	color: #111111;
	border: 1px solid #E4DBC6;
}

.x {
	float: right;
	cursor: pointer;
	background: url(../images/cancel.png) right 3px no-repeat;
	width: 16px;
	height: 21px;
}

.x:hover { background: url(../images/cancel_hover.png) right 3px no-repeat; }

/* BUTTON */

.btn_green, .btn_gray, .btn_red, .btn_blue, .btn_orange {
	font-family: 'Quando', sans-serif;
	margin: 3px;
	padding: 8px 25px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-transform: capitalize;
}

.btn_green_sml, .btn_gray_sml, .btn_red_sml, .btn_blue_sml, .btn_orange_sml {
	font-family: 'Quando', sans-serif;
	margin: 0 3px;
	padding: 6px 10px 7px 10px;
	font-weight: bold;
	text-align: center;
	overflow: visible;
	text-decoration: none;
	display: inline-block;
	text-transform: capitalize;
}

.btn_green, .btn_green_sml {
	color: #FFFFFF !important;
	text-shadow: -1px -1px 0 #2E8D11;
	-moz-text-shadow: -1px -1px 0 #2E8D11;
	-webkit-text-shadow: -1px -1px 0 #2E8D11;
	background: #2E8D11;
	background: -moz-linear-gradient(center bottom, #2E8D11 0%, #72C152 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #2E8D11 0%, #72C152 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #2E8D11), color-stop(0.7, #72C152));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#72c152, endColorstr=#2e8d11);
	border: 1px solid #2E8D11;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn_green:hover, .btn_green_sml:hover {
	color: #FFFFFF;
	background: #3EA60B;
	background: -moz-linear-gradient(center bottom, #3EA60B 0%, #72C152 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #3EA60B 0%, #72C152 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #3EA60B), color-stop(0.7, #72C152));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3EA60B, endColorstr=#72C152);
}

.btn_gray, .btn_gray_sml {
	color: #333333 !important;
	text-shadow: -1px -1px 0 #FFFFFF;
	-moz-text-shadow: -1px -1px 0 #FFFFFF;
	-webkit-text-shadow: -1px -1px 0 #FFFFFF;
	background: #F8F8F8;
	background: -moz-linear-gradient(center bottom, #F8F8F8 0%, #EEEEEE 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #F8F8F8 0%, #EEEEEE 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #EEEEEE), color-stop(0.7, #F8F8F8));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F8F8F8, endColorstr=#EEEEEE);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px #FFFFFF inset;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset;
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset;
}

.btn_gray:hover, .btn_gray_sml:hover {
	color: #000000;
	background: #DDDDDD;
	background: -moz-linear-gradient(center bottom, #DDDDDD 0%, #F8F8F8 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #DDDDDD 0%, #F8F8F8 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #DDDDDD), color-stop(0.7, #F8F8F8));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#DDDDDD, endColorstr=#F8F8F8);
}

.btn_red, .btn_red_sml {
	color: #FFFFFF !important;
	text-shadow: -1px -1px 0 #b41d06;
	-moz-text-shadow: -1px -1px 0 #b41d06;
	-webkit-text-shadow: -1px -1px 0 #b41d06;
	background: #ff4b4b;
	background: -moz-linear-gradient(center bottom, #ff0d0d 0%, #fb4a4a 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #ff0d0d 0%, #fb4a4a 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #ff0d0d), color-stop(0.7, #fb4a4a));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fb4a4a, endColorstr=#ff0d0d);
	border: 1px solid #b41d06;
	box-shadow: 0 1px 0 #ffa184 inset;
	-moz-box-shadow: 0 1px 0 #ffa184 inset;
	-webkit-box-shadow: 0 1px 0 #ffa184 inset;
}

.btn_red:hover, .btn_red_sml:hover {
	color: #FFFFFF;
	background: #ff4b4b;
	background: -moz-linear-gradient(center bottom, #ff4b4b 0%, #ff0d0d 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #ff4b4b 0%, #ff0d0d 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #ff4b4b), color-stop(0.7, #ff0d0d));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff4b4b, endColorstr=#ff0d0d);
}

.btn_blue, .btn_blue_sml {
	color: #FFFFFF !important;
	text-shadow: -1px -1px 0 #087adb;
	-moz-text-shadow: -1px -1px 0 #087adb;
	-webkit-text-shadow: -1px -1px 0 #087adb;
	background: #01417E;
	background: -moz-linear-gradient(center bottom, #0083ff 0%, #5faffc 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #0083ff 0%, #5faffc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #0083ff), color-stop(0.7, #5faffc));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5faffc, endColorstr=#0083ff);
	border: 1px solid #0664b4;
	box-shadow: 0 1px 0 #84c9ff inset;
	-moz-box-shadow: 0 1px 0 #84c9ff inset;
	-webkit-box-shadow: 0 1px 0 #84c9ff inset;
}

.btn_blue:hover, .btn_blue_sml:hover {
	color: #FFFFFF;
	background: #01417E;
	background: -moz-linear-gradient(center bottom, #0067ca 0%, #5faffc 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #0067ca 0%, #5faffc 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #5faffc), color-stop(0.7, #0067ca));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0067ca, endColorstr=#5faffc);
}

.btn_orange, .btn_orange_sml {
	color: #FFFFFF !important;
	text-shadow: -1px -1px 0 #D46B00;
	-moz-text-shadow: -1px -1px 0 #D46B00;
	-webkit-text-shadow: -1px -1px 0 #D46B00;
	background: #FB922A;
	background: -moz-linear-gradient(center bottom, #D46B00 0%, #FB922A 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #D46B00 0%, #FB922A 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #D46B00), color-stop(0.7, #FB922A));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#D46B00, endColorstr=#FB922A);
	border: 1px solid #D46B00;
	box-shadow: 0 1px 0 #FB9701 inset;
	-moz-box-shadow: 0 1px 0 #FB9701 inset;
	-webkit-box-shadow: 0 1px 0 #FB9701 inset;
}

.btn_orange:hover, .btn_orange_sml:hover {
	color: #FFFFFF !important;
	text-shadow: -1px -1px 0 #D46B00;
	-moz-text-shadow: -1px -1px 0 #D46B00;
	-webkit-text-shadow: -1px -1px 0 #D46B00;
	background: #FB922A;
	background: -moz-linear-gradient(center bottom, #FB922A 0%, #D46B00 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #FB922A 0%, #D46B00 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #FB922A), color-stop(0.7, #D46B00));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FB922A, endColorstr=#D46B00);
	border: 1px solid #D46B00;
	box-shadow: 0 1px 0 #FB9701 inset;
	-moz-box-shadow: 0 1px 0 #FB9701 inset;
	-webkit-box-shadow: 0 1px 0 #FB9701 inset;
}

label {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	padding: 0 5px 0 0;
	text-transform: capitalize;
	white-space: nowrap;
}

/* textfield textarea select */

input[type="text"], input[type="search"] , input[type="password"], textarea, select {
	font-family: 'Quando', sans-serif;
	padding: 8px 10px;
	margin: 0;
	border: 1px solid #BCC4D3;
	background: #FFFFFF;
	box-shadow: 0 1px 10px #D1D8E4 inset;
	-moz-box-shadow: 0 1px 10px #D1D8E4 inset;
	-webkit-box-shadow: 0 1px 10px #D1D8E4 inset;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	border: 1px solid #997632;
	box-shadow: 0 1px 10px #6C7A95 inset;
	-moz-box-shadow: 0 1px 10px #6C7A95 inset;
	-webkit-box-shadow: 0 1px 10px #6C7A95 inset;
}

small {
	position: relative;
	font-size: 10px;
	color: #999999;
}

/*commen css end here*/

#wrapper, #test, #header, #box, #steps, .sidebar_box, .list li, #content,  .rt_tablive {
	float: left;
	width: 100%;
}

table.display{
	float: left;
	width: 99%;
}

/* header start */

#header {
	height: 65px;
	background: rgba(130, 4, 97, 0.91);
}

#header h1 a {
	top: 5px;
	position: absolute;
}

/* topnav */

#topnav {
	position: absolute;
	right: 17px;
}

#topnav li { display: inline; }

#topnav li a {
	float:left;
	color: #ebebeb;
	padding: 5px 15px;
	text-align:center;
	font-size: 13px;
}
#topnav li.active a {
	color:#ffff00;
	padding: 5px 8px 12px 8px;
	text-shadow: none;
	font-weight: 700;
}
/* navigation start */

#nav {
	float:right;
	margin: 27px 0 0 0;
}

#nav li { display: inline; }

#nav li a {
	float:left;
	color: #ffffff;
	padding: 5px 8px;
	text-align:center;
	font-size: 14px;
}

#nav li a:hover { color: white;
    text-shadow: 0px 0px 0px #ffffff,0 0 0px #ffffff, 0 0 9px #ffffff; }

#nav li.active a {
	color:#ffff00;
	padding: 5px 8px 12px 8px;
	  text-shadow: none;
}

/* main start */
#main_createQuestionPaper {
    width: 75%;
    margin: 0 auto;
    padding: 48px 26px 2px 10px;
    overflow: hidden;
    margin-bottom: 30px;
	}
	
	
#main_createQuestionPaper h3, #middle_section h3 {
	font-size: 22px;
	margin: 0 0 10px 0;
}
#main {
	width: auto;
	margin: 0 auto;
	padding: 10px 20px 20px 10px;
	overflow: hidden;
	margin-bottom: 30px; 
}

#main h1 {
	margin: 0 0 10px 0;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
	width: 100%;
}

#main h2 {
	font-size: 22px;
	padding: 0 0 10px 0;
}

#main h3, #middle_section h3 {
	font-size: 22px;
	margin: 0 0 10px 0;
}

#main h4 {
	margin: 0 0 10px 0;
	font-size: 20px;
	width: 100%;
}

#main h6 {
	font-size: 16px;
	margin: 0 0 10px 0;
	width: 100%;
}

/* box starts */


#box {
	padding: 10px 0;
	margin: 10px 0;
}

#box li {
	display: inline;
	float: left;
	width: 30%;
	height: 300px;
	padding: 10px;
	margin: 10px 5px;
	border-right: 1px solid #D6C69E;
}

#box li.last { border: none; }

#sidebar {
	float: left;
	width: 220px;
	padding: 10px;
	margin: 0 20px 0 0;
	border-right: 1px dotted #101010;
	min-height: 530px;
	height: auto;
}

.sidebar_nav { float: left; }

.sidebar_nav li { 
	display: inline;	
	float: left;
	width: 220px;
	padding: 10px 5px;
	border-bottom: 1px dotted #101010;
}

.sidebar_nav li span {
	float: right;
	padding: 0 10px;
	font-size: 16px;
	color: #ce5c00;
	font-weight: bold;
}

.sidebar_nav a:hover, .sidebar_nav a.active { color: #000000; }

.sidebar_nav a.active { font-weight: bold; }

.sidebar_box {
	margin: 0 0 20px 0;
	border-bottom:1px solid #D6C69E;
}

.sidebar_note {
	margin-top: 10px;
	float: left;
}

.list {
	margin: 0 10px 20px 10px;
	float: left;
}

.list li {
	line-height: 25px;
	background: url(../images/bullet.gif) 0 9px no-repeat;
	padding: 0 0 0 15px;
}

/*-------------- ADDED BY UMESH --------------- */

.dataTables_wrapper {
	float:left;
	position: relative;
	width:100%;
}

.dataTables_info { float: left; }

.dataTables_paginate {
	float: right;
	text-align: right;
}

.sorting { background: url("../images/sort_both.png") no-repeat scroll right center; }

.dataTables_length { float: right; }

table.display {
	clear: both;
	margin: 10px auto;
}

tr.even { background-color: #F7F0DF; }
tr.odd { background-color: #FFFFFF; }

table.display th, ul.rt_tabnav, .dash_heading, .dash_full th, .dash_half th, .dash_small th, .dash_left th, .dash_right th  {
	color: #FFFFFF;
	background: #FB922A;
	background: -moz-linear-gradient(center bottom, #FB922A 0%, #D46B00 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #FB922A 0%, #D46B00 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #FB922A), color-stop(0.7, #D46B00));
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FB922A, endColorstr=#D46B00);
	cursor: pointer;
	font-weight: bold;
	padding: 10px;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td { border-bottom: 1px solid #aaa; }

table.display td.center { text-align: center; }


/* Basic */

body {
	height:100%;
	margin:0;
}

#basic-modal-content { display:none; }



/* Addition */
table {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
	width: 100%;
}

table th {
	font-weight: normal;
	padding: 4px 15px;
}

table td {
	border-right: 1px solid #E0ADE0;
	border-left: 1px solid #E0ADE0;
	border-bottom: 1px solid #E0ADE0;
	padding: 5px 15px;
	vertical-align: top;
}

.tdthpadding td{
	padding:9px 0px; !importain
}
.box_outer {
	margin: 50px auto 20px auto;
	text-align: center;
	display: block;
}

.box {
	display: inline-block;
	padding: 0 50px 0 0;
	vertical-align: top;
	text-align: left;
}


/*
.box ul {
	float: left;
	margin: 10px 0 0 10px;
}
*/

.box li {
	padding: 0 0 0 10px;
	line-height: 25px;
	background: url(../images/bullet.gif) 0 9px no-repeat;
	display: block;
}

.box li a:hover { text-decoration: underline; }

.box h3 {
	font-size: 16px !important;
	text-transform: capitalize;
}

.box h3 img {
	float: left;
	margin: 0 10px 0 0;
}

.mandatory {
	color: #FF0000;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
}

.profile label, .new_user label, .edit_pro label, .email_template label { width: 100px; }

.schedule_exm label { /*width: 110px;*/ }

.add_question label { width: 140px; }

.change_pass label { width: 150px; }

#QuestionPaper label { width: 165px; }

.send_mail label {/* width: 170px; */}




/* dashboard */

#dashboard {
	display: inline-block;
	width: 100%;
	padding: 10px;
}


.dash_full, .dash_half, .dash_small, .dash_left, .dash_right {	
    margin-top: 1%;    
    border: 1px solid #E4DBC6;
    clear: none !important;
}

.dash_full { width: 96%; }

.dash_half { width: 52%; }

.dash_small { width: 30.6%; }

.dash_left { width: 60%; }

.dash_right { width: 34%; }


.dash_content {
	padding: 15px;
    position: relative;
    background: #FFFFFF;
}

.chart { display: block; margin: 10px auto; }

#middle_section { margin: 20px;}


.steps {
	/* background: url(../images/steps.png) 0 0 no-repeat; 
	width: 92em;
	height: 250px;*/
	margin: 0 auto;
	display: inline-block;
}
.steps li { width:  219px; float: left;}

.steps p { 
	margin: 10px auto;
	float: left;
	text-align: center;
	width: 230px; 
}

.steps li a.questions {
	float: left;
	background: url(../images/step1.png) 0 0 no-repeat;
	width: 193px;
	height: 163px;
}


.steps li a.exams {
	float: left;
	background: url(../images/step2.png) 0 0 no-repeat;
	width: 196px;
	height: 163px;
}


.steps li a.users {
	float: left;
	background: url(../images/step3.png) 0 0 no-repeat;
	width: 193px;
	height: 163px;
}

.steps li a.certificates {
	float: left;
	background: url(../images/step4.png) 0 0 no-repeat;
	width: 193px;
	height: 163px;
}

.steps li a.upgrade {
	float: left;
	background: url(../images/step5.png) 0 0 no-repeat;
	width: 193px;
	height: 163px;
}

.steps li a.questions:hover { background: url(../images/step1_hover.png) 0 0 no-repeat; }
.steps li a.exams:hover { background: url(../images/step2_hover.png) 0 0 no-repeat; }
.steps li a.users:hover { background: url(../images/step3_hover.png) 0 0 no-repeat; }
.steps li a.certificates:hover { background: url(../images/step4_hover.png) 0 0 no-repeat; }
.steps li a.upgrade:hover { background: url(../images/step5_hover.png) 0 0 no-repeat; }

.fcredit{
	margin-top: 105px;
	margin-left: 40px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	width: 145px;
	text-align: center;
}
.stepstext{ color: transparent; }

.clr { clear: both;}

.boxtitle{
	border:0; 
	/* background: -moz-linear-gradient(center bottom , #6C7A95 0%, #4D5B76 70%) repeat scroll 0 0 transparent; */    
	color: #FFFFFF;    
	font-weight: bold;
	background: -moz-linear-gradient(center bottom , #6C7A95 0%, #4D5B76 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom , #6C7A95 0%, #4D5B76 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 70%, 0% 0%, color-stop(0, #6C7A95), color-stop(0.7, #4D5B76));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6C7A95, endColorstr=#4D5B76);
 
}




/* --------------------- Question Paper --------------------- */


#QuestionPaper label { width: 165px; }

#QuestionPaper input[type="text"] { width: 240px; }

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    padding:12px;
    background-color: #8000ff;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0080ff;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

/* --------------------------- Datepeaker ------------------------------ */

/* UI Dialog */

.ui-dialog {
	/*position: relative;*/
	padding: .2em;
	width: 300px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em .3em .3em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0 .2em;
	color: #FFFFFF;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }

.ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: right;
	margin: .5em .4em .5em 0;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	width:auto;
	overflow:visible;
}

.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
	float:right;
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* Layout helpers */
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible {
	position: absolute;
	left: -99999999px;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ui-helper-clearfix { display: inline-block; }

/* required comment for clearfix to work in Opera */
* html .ui-helper-clearfix { height:1%; }

.ui-helper-clearfix { display:block; }

/* end clearfix */
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

/* Interaction Cues */
.ui-state-disabled { cursor: default !important; }

/* Icons */

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Misc visuals */

/* Overlays */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-datepicker { /*width: 14em;*/ padding: .2em .2em 0; }

.ui-datepicker .ui-datepicker-header {
	position:relative;
	padding:.2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position:absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }

.ui-datepicker .ui-datepicker-prev { left:2px; }

.ui-datepicker .ui-datepicker-next { right:2px; }

.ui-datepicker .ui-datepicker-prev-hover { left:1px; }

.ui-datepicker .ui-datepicker-next-hover { right:1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	float:left;
	font-size:1em;
	margin:1px 0;
}

.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%; padding 3px;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin:0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	color: #000000;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding:0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width:auto;
	overflow:visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }



/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }

.ui-datepicker-multi .ui-datepicker-group { float:left; }

.ui-datepicker-multi .ui-datepicker-group table {
	width:95%;
	margin:0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }

.ui-datepicker-row-break {
	clear:both;
	width:100%;
}


/* RTL support */
.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }

.ui-datepicker-rtl .ui-datepicker-group { float:right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display/**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}

/* Component containers */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1em; }
.ui-widget input[type="text"] { width: 200px;}
.ui-widget select { width: 224px;}
.ui-widget-content {
	border: 1px solid #dcb372;
	background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #333333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 1;
}

.ui-widget-content a { color: #333333; }

.ui-widget-header {
	background: #6C7A95;
	background: -moz-linear-gradient(center bottom, #6C7A95 0%, #4D5B76 70%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom, #6C7A95 0%, #4D5B76 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #6C7A95), color-stop(0.7, #4D5B76));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6C7A95, endColorstr=#4D5B76);
	color: #FFFFFF;
	font-weight: bold;
}

/*.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/bar.gif) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
*/
.ui-widget-header a { color: #ffffff; }

/* Interaction states */
.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6 url(../images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
	outline: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
	outline: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
	outline: none;
}

.ui-state-hover a, .ui-state-hover a:hover {
	color: #c77405;
	text-decoration: none;
	outline: none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border: 1px solid #fbd850;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00;
	outline: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #eb8f00;
	outline: none;
	text-decoration: none;
}

/* Interaction Cues */
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
	color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
	color: #ffffff;
}

.ui-state-error a, .ui-widget-content .ui-state-error a { color: #ffffff; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #ffffff; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}

/* Icons */

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-widget-content .ui-icon { background-image: url(images/ui-icons_222222_256x240.png); }

.ui-widget-header .ui-icon { background-image: url(images/ui-icons_ffffff_256x240.png); }

.ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }

.ui-state-active .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }

.ui-state-highlight .ui-icon { background-image: url(images/ui-icons_228ef1_256x240.png); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }

.ui-icon-carat-1-ne { background-position: -16px 0; }

.ui-icon-carat-1-e { background-position: -32px 0; }

.ui-icon-carat-1-se { background-position: -48px 0; }

.ui-icon-carat-1-s { background-position: -64px 0; }

.ui-icon-carat-1-sw { background-position: -80px 0; }

.ui-icon-carat-1-w { background-position: -96px 0; }

.ui-icon-carat-1-nw { background-position: -112px 0; }

.ui-icon-carat-2-n-s { background-position: -128px 0; }

.ui-icon-carat-2-e-w { background-position: -144px 0; }

.ui-icon-triangle-1-n { background-position: 0 -16px; }

.ui-icon-triangle-1-ne { background-position: -16px -16px; }

.ui-icon-triangle-1-e { background-position: -32px -16px; }

.ui-icon-triangle-1-se { background-position: -48px -16px; }

.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-icon-triangle-1-sw { background-position: -80px -16px; }

.ui-icon-triangle-1-w { background-position: -96px -16px; }

.ui-icon-triangle-1-nw { background-position: -112px -16px; }

.ui-icon-triangle-2-n-s { background-position: -128px -16px; }

.ui-icon-triangle-2-e-w { background-position: -144px -16px; }

.ui-icon-arrow-1-n { background-position: 0 -32px; }

.ui-icon-arrow-1-ne { background-position: -16px -32px; }

.ui-icon-arrow-1-e { background-position: -32px -32px; }

.ui-icon-arrow-1-se { background-position: -48px -32px; }

.ui-icon-arrow-1-s { background-position: -64px -32px; }

.ui-icon-arrow-1-sw { background-position: -80px -32px; }

.ui-icon-arrow-1-w { background-position: -96px -32px; }

.ui-icon-arrow-1-nw { background-position: -112px -32px; }

.ui-icon-arrow-2-n-s { background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }

.ui-icon-arrow-2-e-w { background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }

.ui-icon-arrowstop-1-n { background-position: -192px -32px; }

.ui-icon-arrowstop-1-e { background-position: -208px -32px; }

.ui-icon-arrowstop-1-s { background-position: -224px -32px; }

.ui-icon-arrowstop-1-w { background-position: -240px -32px; }

.ui-icon-arrowthick-1-n { background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }

.ui-icon-arrowthick-1-e { background-position: -32px -48px; }

.ui-icon-arrowthick-1-se { background-position: -48px -48px; }

.ui-icon-arrowthick-1-s { background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }

.ui-icon-arrowthick-1-w { background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }

.ui-icon-arrow-4 { background-position: 0 -80px; }

.ui-icon-arrow-4-diag { background-position: -16px -80px; }

.ui-icon-extlink { background-position: -32px -80px; }

.ui-icon-newwin { background-position: -48px -80px; }

.ui-icon-refresh { background-position: -64px -80px; }

.ui-icon-shuffle { background-position: -80px -80px; }

.ui-icon-transfer-e-w { background-position: -96px -80px; }

.ui-icon-transferthick-e-w { background-position: -112px -80px; }

.ui-icon-folder-collapsed { background-position: 0 -96px; }

.ui-icon-folder-open { background-position: -16px -96px; }

.ui-icon-document { background-position: -32px -96px; }

.ui-icon-document-b { background-position: -48px -96px; }

.ui-icon-note { background-position: -64px -96px; }

.ui-icon-mail-closed { background-position: -80px -96px; }

.ui-icon-mail-open { background-position: -96px -96px; }

.ui-icon-suitcase { background-position: -112px -96px; }

.ui-icon-comment { background-position: -128px -96px; }

.ui-icon-person { background-position: -144px -96px; }

.ui-icon-print { background-position: -160px -96px; }

.ui-icon-trash { background-position: -176px -96px; }

.ui-icon-locked { background-position: -192px -96px; }

.ui-icon-unlocked { background-position: -208px -96px; }

.ui-icon-bookmark { background-position: -224px -96px; }

.ui-icon-tag { background-position: -240px -96px; }

.ui-icon-home { background-position: 0 -112px; }

.ui-icon-flag { background-position: -16px -112px; }

.ui-icon-calendar { background-position: -32px -112px; }

.ui-icon-cart { background-position: -48px -112px; }

.ui-icon-pencil { background-position: -64px -112px; }

.ui-icon-clock { background-position: -80px -112px; }

.ui-icon-disk { background-position: -96px -112px; }

.ui-icon-calculator { background-position: -112px -112px; }

.ui-icon-zoomin { background-position: -128px -112px; }

.ui-icon-zoomout { background-position: -144px -112px; }

.ui-icon-search { background-position: -160px -112px; }

.ui-icon-wrench { background-position: -176px -112px; }

.ui-icon-gear { background-position: -192px -112px; }

.ui-icon-heart { background-position: -208px -112px; }

.ui-icon-star { background-position: -224px -112px; }

.ui-icon-link { background-position: -240px -112px; }

.ui-icon-cancel { background-position: 0 -128px; }

.ui-icon-plus { background-position: -16px -128px; }

.ui-icon-plusthick { background-position: -32px -128px; }

.ui-icon-minus { background-position: -48px -128px; }

.ui-icon-minusthick { background-position: -64px -128px; }

.ui-icon-close { background-position: -80px -128px; }

.ui-icon-closethick { background-position: -96px -128px; }

.ui-icon-key { background-position: -112px -128px; }

.ui-icon-lightbulb { background-position: -128px -128px; }

.ui-icon-scissors { background-position: -144px -128px; }

.ui-icon-clipboard { background-position: -160px -128px; }

.ui-icon-copy { background-position: -176px -128px; }

.ui-icon-contact { background-position: -192px -128px; }

.ui-icon-image { background-position: -208px -128px; }

.ui-icon-video { background-position: -224px -128px; }

.ui-icon-script { background-position: -240px -128px; }

.ui-icon-alert { background-position: 0 -144px; }

.ui-icon-info { background-position: -16px -144px; }

.ui-icon-notice { background-position: -32px -144px; }

.ui-icon-help { background-position: -48px -144px; }

.ui-icon-check { background-position: -64px -144px; }

.ui-icon-bullet { background-position: -80px -144px; }

.ui-icon-radio-off { background-position: -96px -144px; }

.ui-icon-radio-on { background-position: -112px -144px; }

.ui-icon-pin-w { background-position: -128px -144px; }

.ui-icon-pin-s { background-position: -144px -144px; }

.ui-icon-play { background-position: 0 -160px; }

.ui-icon-pause { background-position: -16px -160px; }

.ui-icon-seek-next { background-position: -32px -160px; }

.ui-icon-seek-prev { background-position: -48px -160px; }

.ui-icon-seek-end { background-position: -64px -160px; }

.ui-icon-seek-first { background-position: -80px -160px; }

.ui-icon-stop { background-position: -96px -160px; }

.ui-icon-eject { background-position: -112px -160px; }

.ui-icon-volume-off { background-position: -128px -160px; }

.ui-icon-volume-on { background-position: -144px -160px; }

.ui-icon-power { background-position: 0 -176px; }

.ui-icon-signal-diag { background-position: -16px -176px; }

.ui-icon-signal { background-position: -32px -176px; }

.ui-icon-battery-0 { background-position: -48px -176px; }

.ui-icon-battery-1 { background-position: -64px -176px; }

.ui-icon-battery-2 { background-position: -80px -176px; }

.ui-icon-battery-3 { background-position: -96px -176px; }

.ui-icon-circle-plus { background-position: 0 -192px; }

.ui-icon-circle-minus { background-position: -16px -192px; }

.ui-icon-circle-close { background-position: -32px -192px; }

.ui-icon-circle-triangle-e { background-position: -48px -192px; }

.ui-icon-circle-triangle-s { background-position: -64px -192px; }

.ui-icon-circle-triangle-w { background-position: -80px -192px; }

.ui-icon-circle-triangle-n { background-position: -96px -192px; }

.ui-icon-circle-arrow-e { background-position: -112px -192px; }

.ui-icon-circle-arrow-s { background-position: -128px -192px; }

.ui-icon-circle-arrow-w { background-position: -144px -192px; }

.ui-icon-circle-arrow-n { background-position: -160px -192px; }

.ui-icon-circle-zoomin { background-position: -176px -192px; }

.ui-icon-circle-zoomout { background-position: -192px -192px; }

.ui-icon-circle-check { background-position: -208px -192px; }

.ui-icon-circlesmall-plus { background-position: 0 -208px; }

.ui-icon-circlesmall-minus { background-position: -16px -208px; }

.ui-icon-circlesmall-close { background-position: -32px -208px; }

.ui-icon-squaresmall-plus { background-position: -48px -208px; }

.ui-icon-squaresmall-minus { background-position: -64px -208px; }

.ui-icon-squaresmall-close { background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }

.ui-icon-grip-solid-vertical { background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Misc visuals */

/* Corner radius */
.ui-corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
}

.ui-corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.ui-corner-top {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.ui-corner-right {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.ui-corner-left {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .50;
	filter:Alpha(Opacity=50);
}

.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
	opacity: .20;
	filter:Alpha(Opacity=20);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* 

#

*/
#TextBoxesGroup
{
	width: 12px;
}
#TextBoxesGroup table
{
	 border-collapse: separate;
   	 margin: none;
     text-align: left; 
     width: none;
     border-top: none;
}
#TextBoxesGroup table td
{
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-top: none;
}

#Question .button {
	margin-left:32px;
  display: inline-block;
  width: 124px;
  height: 28px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #277373;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #777575;!important
}

#Question .button:hover {background-color: #1A4A4A;!important}

#Question .button:active {
  background-color: #277373;
  box-shadow: 0 5px #666;
  transform: translateY(2px);!important
}
.Input_height{
	width: 265px;
}

.footer{
	text-align:center;
	height:35px;	
	color:#f8b427;
}
.footer pre{
	padding: 5px 0px 7px 0px;
    background-color: #40120E;
}
/* *********************************************************************/
/****************** scrollbar ************************************/
/******************************************************************* */

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #F5F5F5; 
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: #F5F5F5 ;  
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #800080; 
}

